In [23]:
from quantifilib.data import YahooFinanceLoader

loader = YahooFinanceLoader()
data = loader.load(
    'SPY',
    start = '2000-01-01',
    interval = '1d',
    auto_adjust = False,
    multi_level_index = False,
    progress = False
)

In [24]:
data

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2000-01-03,92.142555,145.437500,148.250000,143.875000,148.250000,8164300
2000-01-04,88.539139,139.750000,144.062500,139.640625,143.531250,8089800
2000-01-05,88.697563,140.000000,141.531250,137.250000,139.937500,12177900
2000-01-06,87.272133,137.750000,141.500000,137.750000,139.625000,6227200
2000-01-07,92.340485,145.750000,145.750000,140.062500,140.312500,8066500
...,...,...,...,...,...,...
2025-07-16,624.219971,624.219971,624.729980,618.049988,623.739990,88987500
2025-07-17,628.039978,628.039978,628.400024,624.179993,624.400024,68885700
2025-07-18,627.580017,627.580017,629.469971,626.460022,629.299988,65621600
2025-07-21,628.770020,628.770020,631.539978,628.340027,628.770020,63336400
2025-07-22,627.500000,627.500000,629.190002,626.190002,629.099976,27854351

In [39]:
from quantifilib.strategy.event_driven.triple_barrier import TripleBarrierLabeling

triple_barrier = TripleBarrierLabeling(
    data = data,
    pt_sl = (1, 1),
    min_ret = 0.01,
    vol_lookback = 20,
    vertical_barrier = {
        'days' : 7
    }
)

In [40]:
res = triple_barrier.get_labels()

In [41]:
res

                 ret      trgt  bin
Date
2000-01-06  0.058076  0.016317    1
2000-01-07  0.008362  0.040813    0
2000-01-10 -0.002991  0.032546    0
2000-01-11  0.009083  0.027781    0
2000-01-12  0.027304  0.025793    1
...              ...       ...  ...
2025-07-09  0.000256  0.009057    0
2025-07-10  0.003547  0.008750    0
2025-07-11  0.006350  0.008455    0
2025-07-14  0.006338  0.008062    0
2025-07-15  0.009483  0.007876    1

[6418 rows x 3 columns]

In [42]:
meta_label = TripleBarrierLabeling(
    data = data,
    pt_sl = (1, 1),
    min_ret = 0.01,
    vol_lookback = 20,
    vertical_barrier = {
        'days' : 7
    },
    side_prediction = res['bin']
)

In [43]:
meta_label.get_labels()

                 ret      trgt  bin  side
Date
2000-01-06  0.058076  0.016317    1   1.0
2000-01-07  0.000000  0.040813    0   0.0
2000-01-10 -0.000000  0.032546    0   0.0
2000-01-11  0.000000  0.027781    0   0.0
2000-01-12  0.027304  0.025793    1   1.0
...              ...       ...  ...   ...
2025-06-23  0.011047  0.010061    1   1.0
2025-06-24  0.013399  0.011139    1   1.0
2025-06-25  0.012831  0.010846    1   1.0
2025-06-26  0.014023  0.010378    1   1.0
2025-06-27  0.016962  0.010150    1   1.0

[3720 rows x 4 columns]