In [1]:
from quantifilib.data import YahooFinanceLoader

loader = YahooFinanceLoader()
data = loader.load(
    'SPY',
    start = '2000-01-01',
    interval = '1d',
    auto_adjust = False,
    multi_level_index = False,
    progress = False
)

In [2]:
data

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2000-01-03,92.142517,145.437500,148.250000,143.875000,148.250000,8164300
2000-01-04,88.539192,139.750000,144.062500,139.640625,143.531250,8089800
2000-01-05,88.697586,140.000000,141.531250,137.250000,139.937500,12177900
2000-01-06,87.272079,137.750000,141.500000,137.750000,139.625000,6227200
2000-01-07,92.340485,145.750000,145.750000,140.062500,140.312500,8066500
...,...,...,...,...,...,...
2025-07-15,622.140015,622.140015,627.859985,622.059998,627.520020,74317300
2025-07-16,624.219971,624.219971,624.729980,618.049988,623.739990,88987500
2025-07-17,628.039978,628.039978,628.400024,624.179993,624.400024,68885700
2025-07-18,627.580017,627.580017,629.469971,626.460022,629.299988,65532300
2025-07-21,630.830017,630.830017,631.539978,628.679993,628.770020,23641241

In [3]:
from quantifilib.strategy.event_driven.triple_barrier import TripleBarrierLabeling

triple_barrier = TripleBarrierLabeling(
    data = data,
    pt_sl = (2, 1),
    min_ret = 0.01,
    vol_lookback = 20
)

In [4]:
triple_barrier.get_labels()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().